[submodule "TP3/aarch64-linux-android-4.9"]
	path = TP3/aarch64-linux-android-4.9
	url = https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
[submodule "TP3/hikey-linaro"]
	path = TP3/hikey-linaro
	url = https://android.googlesource.com/kernel/hikey-linaro
[submodule "TP4/hikey"]
	path = TP4/hikey
	url = https://android.googlesource.com/device/linaro/hikey
