<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shuttlesmgmt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AchatsActivity"
            android:label="@string/title_activity_achats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.StockActivity"
            android:label="@string/title_activity_stock"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListView.ListviewStock" />
        <activity android:name=".ListView.ListViewAchat" />
        <activity android:name=".activity.DBActivity.DBMode" />
        <activity android:name=".activity.DBActivity.CustomerActivity" />
        <activity android:name=".activity.DBActivity.SupplierActivity" />
        <activity android:name=".activity.DBActivity.OrderActivity" />
        <activity android:name=".activity.DBActivity.ProductActivity" />
        <activity android:name=".activity.addActivity.AddCustomer" />
        <activity android:name=".activity.addActivity.AddSupplier" />
        <activity android:name=".activity.addActivity.AddOrder" />
        <activity android:name=".activity.addActivity.AddProduct" />
        <activity android:name=".ListView.ListViewCustomer" />
        <activity android:name=".ListView.ListViewSupplier" />
        <activity android:name=".ListView.ListViewOrder" />
        <activity android:name=".ListView.ListViewProduct"></activity>
    </application>

</manifest>